@import "tailwindcss";

@theme {
  --color-slate-navy: #0F172A;
  --color-emeraude: #059669;
  --color-slate-50: #F8FAFC;
}

body {
  background-color: var(--color-slate-50);
  -webkit-tap-highlight-color: transparent;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
